.degree-container {
  width: 69vw;
  margin-top: 4rem;
  margin-left: 15vw;
  margin-right: 17vw;


  .degree-heading {
    font-size: 1.7rem;
    color: darkblue;
    margin-bottom: 1rem;
    font-weight: 500;
  }

  .btn-container {
    margin-top: 4rem;

    .row {

      background-color: white;
      .col button {
        text-align: center;
        background-color: rgb(202, 199, 199);
        height: 4rem;
        width: 15rem;
        color: rgb(7, 7, 88);
        border: none;


        &:hover {
          background-color: rgb(170, 8, 8);
          color: white;
        }
      }
      .col-4 button {
        text-align: center;
        background-color: rgb(202, 199, 199);
        height: 4rem;
        width: 20.7rem;
        color: rgb(7, 7, 88);
        border: none;
        margin-top: 1.5rem;
        padding: 0;

        &:hover {
          background-color: rgb(170, 8, 8);
          color: white;
        }
      }
    }
  }
}
