<div class="degree-container">
  <div class="degree-heading">Featured Degrees at UHD</div>
  <div class="degree-para">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil veniam sunt
    delectus placeat minima aliquam! Reprehenderit praesentium dolores accusamus
    quaerat mollitia repudiandae nostrum, aliquid cupiditate fugiat dict adict
    adicta possimus animi corrupti!
  </div>
  <div class="btn-container">
    <div class="row">
      <div class="col">BUSINESS</div>
      <div class="col">COMPLETION</div>
      <div class="col">CRIMINAL JUSTICE</div>
      <div class="col">EDUCATION</div>
    </div>
    <div class="row">
      <div class="col-4">HUMANITIES & SOCIAL SCIENCE</div>
      <div class="col-4">PUBLIC SERVICE</div>
      <div class="col-4">SCIENCE</div>
    </div>
  </div>
</div>
